@page "/projects"

<div class="background-layer"></div>

<div class="projects-container">
    <h1>Mina Projekt</h1>
   
    <div class="project">
        <h2>TicTacToe</h2>
        <p>Ett enkelt spel som windowsapplikation .Net, WPF.</p>
        <div class="slideshow">
            <img src="/images/tictactoe.png" class="slide" />
            <img src="/images/tictactoe2.png" class="slide" />
            <img src="/images/tictactoe3.png" class="slide" />
        </div>
        <br />
        <a href="https://github.com/felstavad/TicTacToe" target="_blank">Visa på GitHub</a>
    </div>
    <br /><br />

    <div class="project">
        <h2>Hobbyapplikation</h2>
        <p>En windowsapplikation med lokal databas .Net, GUI och MVVM designmönster.</p>
        <div class="slideshow">
            <img src="/images/hobbyapp.png" class="slide" />
            <img src="/images/hobbyapp2.png" class="slide" />
        </div>
        <br />
        <a href="https://github.com/felstavad/HobbyWPF" target="_blank">Visa på GitHub</a>
    </div>
    <br /><br />

    <div class="project">
        <h2>Bilbokning</h2>
        <p>En webbapplikation ASP.Net, full CRUD via webAPI.</p>
        <div class="slideshow">
            <img src="/images/cars.png" class="slide" />
            <img src="/images/cars2.png" class="slide" />
        </div>
        <br />
        <a href="https://github.com/felstavad/Car-rental-project" target="_blank">Visa på GitHub</a>
    </div>
</div>

<script>
    const slides = document.querySelectorAll('.slide');

    slides.forEach(slide => {
        slide.addEventListener('click', function () {
            if (slide.classList.contains('large')) {
                slide.style.transform = 'scale(1)';
                slide.classList.remove('large');
            } else {
                slides.forEach(s => {
                    s.style.transform = 'scale(1)';
                    s.classList.remove('large');
                });
                slide.style.transform = 'scale(3)';
                slide.classList.add('large');
            }
        });
    });
</script>


<style>

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 100px auto;
        max-width: 800px;
        padding: 40px;
        background-color: #e8eded;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .projects-picture img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .background-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('/images/lov.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.7;
    }

    .projects-container h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .projects-container p {
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .projects-container ul {
        list-style: none;
        padding: 0;
    }

    .projects-container li {
        display: inline;
        margin: 0 20px;
    }

    .projects-container a {
        color: #4eacb5;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .projects-container a:hover {
            color: #bc42f5;
        }

    .slideshow {
        display: flex;
        justify-content: space-around; /* Justera avståndet mellan bilderna */
    }
</style>
