@page "/"

<div class="start-container">
    <h1>Välkommen!</h1>
</div>

<div class="background-layer"></div>
<style>
    .start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 100px auto;
        max-width: 800px;
        padding: 40px;
        position: relative;
        background-color: #e8eded;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Skapa ett separat bakgrundslager */
    .background-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('/images/lov.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.7; /* Justera opaciteten här */
    }

    .start-container h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .start-container p {
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .start-container ul {
        list-style: none;
        padding: 0;
    }

    .start-container li {
        display: inline;
        margin: 0 20px;
    }

    .start-container a {
        color: #4eacb5;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .start-container a:hover {
            color: #ff6347;
        }
</style>

