body {
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    font-family: 'Century Gothic', sans-serif;
}

.profile-container, .projects-container {
    font-family: 'Century Gothic', sans-serif;
}
