@using Microsoft.AspNetCore.Components.Routing
<body>
    <nav class="navbar">
        <div class="nav-links">
            <NavLink href="/" class="nav-item" activeclassname="active"><i class="fa-solid fa-house"></i></NavLink>
            <NavLink href="Home" class="nav-item" activeclassname="active">Om mig</NavLink>
            <NavLink href="Projects" class="nav-item" activeclassname="active">Projekt</NavLink>
        </div>
    </nav>

    </body>


<style>
    .navbar {
        display: flex;
        justify-content: center;
        background-color: #333;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        font-family: 'Century Gothic', sans-serif;
    }

    .nav-item {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        font-size: 1.4em; /* Återgå till ursprunglig textstorlek */
        transition: color 0.3s ease, transform 0.3s ease; /* Lägg till transform för smidig övergång */
    }

        .nav-item:hover {
            color: #4eacb5;
            transform: scale(1.2); /* Ändra textstorleken vid hovring */
        }

            .nav-item:hover i {
                transform: scale(1.2); /* Ändra storlek på ikonen vid hovring */
            }

    .active {
        font-weight: bold;
    }

</style>
